*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  @font-face {
	  font-family: afg;
	  src: url("./fonts/letra1.ttf");
	  font-family: fresco;
	  src: url("./fonts/fresco.ttf");
  }
  
  body{
	  background-image: url("./assets/img/illustration-plants-house-green-cartoon-Toy-693664-wallhere.com.jpg");
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size:300%;
	  font-family: sans-serif;
	  font-weight: 700;
  }  

  .menu{
	  display: flex;
	  justify-content: center;
	  margin-top: -400px;
  }
  .menu ul li:hover{
	  background: #E0341C;
  }
  
  input#menu-hamburguesa{
	  visibility: hidden;
  }
  .menu img{
	  visibility: hidden;
	  margin-top: -20px;
  }
  
  #body1 #boton1{color:blue}
  .logo img{
	  width: 90px;
	  border-radius: 95%;
	  margin-top: 20px;
	  margin-left: 250px;
	  box-shadow: 0px 0px 20px #0C7EBF;
  }
  
  .menu ul li{
	  list-style: none;
	  display: inline;
	  margin: 5px;
	  color: white;
	  border-radius: 10px;
	  padding: 5px 10px;
	  font-family: afg;
	  font-size: 20px;
	  background:#54AD09;
  }
  .ligas{
	  text-decoration: none;
  }
  .line-title{
	  border-radius: 15px 15px 0 0;
	  height: 30px;
	  width: 415px;
	  margin-left: -10px;
	  background: linear-gradient(#EC7B0A, #E0341C );
	  margin-top: -10px;
  }
  .section-midle{
	  width:515px; 
	  background-color:#5DBF0C; 
	  padding:10px; 
	  border-radius: 15px; 
	  margin:auto;
	  margin-top: 100px;
  }
  
  .section-midle h1, .section-two h1, .section-three h1{
	  border-radius: 15px 15px 0 0;
	  height: 30px;
	  width: 515px;
	  margin-left: -10px;
	  background: linear-gradient(#EC7B0A, #E0341C );
	  margin-top: -12px;
	  text-align: center;
	  color: white;
  }
  
  .section-midle h3{
	  background: transparent url("./assets/img/gif-mariposas-unscreen.gif") no-repeat center left;
	  height: 100px;
	  width: auto;
	  padding-top: 10px;
	  text-align: center;
  }
  .section-midle p, .section-midle p, .section-midle li, .section-three p{
	  padding-left: 10px;
	  padding-top: 10px;
  }
  
  .plants{
	  background-image: url("./assets/img/plantastrans.png");
	  border-radius: 20px;
	  font-size: 20px;
  }
  .plants2{
	  font-size: 20px;
  }
  .plants3{
	  background-image: url("./assets/img/plantastrans.png");
	  border-radius: 20px;
	  font-size: 20px;
  }
  .plantsC{
	  background-image: url("./assets/img/plantastrans.png");
	  border-radius: 20px;
	  font-size: 20px;
	  padding: 5px;
  }
  .plantsC ul{
	  list-style: none;
  }
  .plantsC i{
	  margin-right: 10px;
	  color: blue;
  }
  .plants li{
	  margin-left: 20px;
  }
  .section-two h3{
	  background: transparent url("./assets/img/mariposa.gif") no-repeat center ;
	  height: 240px;
	  width: auto;
	  padding-top: 10px;
	  text-align: center;
  }
  .section-two{
	  width:515px;  
	  padding:10px; 
	  border-radius: 15px; 
	  margin:auto;
	  margin-top: 50px;
	  background-image: url("./assets/img/flores.jpg");
  }
  .section-two li{
	  background: #FCCAF8;
	  margin-left: 20px;
	  border-radius: 10px;
  }
  .section-two ul{
	  background: #FCCAF8;
	  border-radius: 10px;
  }
  .section-two p{
	  background: #FCCAF8;
	  padding-top: 10px;
	  padding-left: 10px;
	  border-radius: 10px;
  }
  #fiusha{
	  border-radius: 50px;
  }
  .section-three{
	  width:515px; 
	  background-color:#5DBF0C; 
	  padding:10px; 
	  border-radius: 15px; 
	  margin:auto;
	  margin-top: 50px;
  }
  .section-three h3{
	  background: transparent url("./assets/img/pulgon.jpg") no-repeat center ;
	  height: 260px;
	  width: 400px;
	  margin-left: -3px;
	  padding-top: 10px;
	  border-radius: 10px;
	  margin-top: 10px;
  }
  .section-three ul{
	  margin-left: 25px;
	  padding: 5px;
  }
  .section-three li{
	  margin: 10px;
  }
  footer{
	  margin: 20px;
	  display: flex;
	  justify-content:flex-start;
	  margin-left: 50px;
  }
  footer img{
	  width: 5%;
  }
  footer p{
	  display: flex;
	  margin-top: 20px;
	  margin-left: 20px;
	  text-align: center;
	  font-family: fresco;
	  font-size: 170%;
  }
  
  /*---------- CELULAR TAMAÑO MEDIANO ------------*/
  
  @media only screen and (max-width: 768px){
	  body{
		  background-size:500%;
	  } 
  
	  .menu ul li{/*MENU DESPLEGABLE*/
		  display: block;
		  font-size: 30px;
		  margin: 10px;
		  background: #0C7EBF;
	  }
	  
	  .logo img{
		  visibility: hidden;
	  }
  
	  .section-midle{
		  width:615px; 
		  font-size: 30px;
		  margin-top: 100px;
	  }
	  
	  .section-midle h1, .section-two h1, .section-three h1, .section-two h1{
		  font-size: 30px;
		  height: 40px;
		  width: 615px;
	  }
	  
	  .section-midle p, .section-midle li, .section-three p, .section-two p, .section-two li, .section-three li{
		  font-size: 30px;
	  }
	  
	  .section-two{/*MARGENES ULTIMAS SECCIONES*/
		  width:615px;
		  margin-top: 30px;  
	  }
	  
	  .section-three{ /*MARGENES CAJA PULGON*/
		  width: 615px;
		  margin-top: 30px;
	  }
	  
	  .section-three h3{
		  margin-left: 100px;
	  }
	  
	  .menu img{
		  visibility:visible;
		  width: 70px;
		  margin-left: -250px;
		  margin-top: 350px;
	  }
	  
	  input#menu-hamburguesa~ul>li{
		  background-color: transparent;
		  margin-top: -40%;
		  
	  }
	  input#menu-hamburguesa~ul{
		  display: block;
		  position:absolute;
		  right: 100%;
		  transition: all 300ms linear;
	  }
	  
  input#menu-hamburguesa:checked ~ ul{
	  right: -500px;
  }
  
  /*------------------------CELULAR PEQUEÑO-------------------------------------------------*/
  
  @media only screen and ( min-width:320px ) {
	body{
		background-size:700%;
	}
	  
	  .section-midle, .section-two, .section-three{
		  width:390px; 
	  }
	  .section-midle p, .section-two p, .section-three p,.section-midle li, .section-two li, .section-three li{
		  font-size: 15px;
	  }
	  .section-midle h1, .section-two h1, .section-three h1, .section-two h1{
		  font-size: 25px;
		  height: 30px;
		  width: 390px;
	  }
	  footer img{
		  width: 50px;
	  }
	  .section-three h3{
		  width: 90%;
		  margin-left: 15px;
	  }
	  
	  
	  .menu img{/*imagen menu hamburguesa*/
		  width: 10%;
		  margin-left: 160px;
		  margin-top: 320px;
	  }
	  
	  input#menu-hamburguesa~ul>li{
		  background-color: transparent;
		  margin-top: -11%;	
	  }
	  input#menu-hamburguesa~ul{
		  align-items:flex-start;
		  position:absolute;
		  right: 200%;
		  transition: all 300ms linear;
	  
	  }
	  
  input#menu-hamburguesa:checked ~ ul{
	  right: 60px;
  }
  .menu ul li{/*MENU DESPLEGABLE*/	
	  margin: 10px;
	  font-size: 20px;
  }
  .section-two ul{
	  list-style: none;
  }
  }
  }