<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="especialista, UNAM, IPN, medicina alternativa, consulta, medica naturista
    Biomedicina">
    <meta name="keywords" content="Medicina naturista Consulta naturista especialista medico diabetes hipertensión tiroides control de peso insomnio estudios"/>
    <link rel="stylesheet" type="text/css" href="/App.css">
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  <title>La Casa Del Estanque</title>
</head>
<body>
<div>  
    <div class='logo'>
        <img src="/assets/img/logo.jpg" alt=''/>
    </div>
    <nav class='menu'>
        <div>
        <input type="checkbox" id="menu-hamburguesa"/>
        <label for="menu-hamburguesa">
            <img src="/assets/img/menu.png" alt=""/>
        </label>
            <ul id='body1'>
                <a  class='ligas' href="/index.html" ><li>Inicio</li></a>
                <a class='ligas' href="/components/AcercaDe.html"><li>Acerca de nosotros</li></a>
                <a class='ligas' href="/components/NuestrosProductos.html"><li>Nuestros productos</li></a>
                <a class='ligas' href="/components/Consultas.html"><li>Consultas Bio-naturistas</li></a>
                <a class='ligas' href="/components/Contactanos.html"><li id="boton1">Contáctanos</li></a>
            </ul>
        </div>   
        </nav>

        <section>
            <div class='section-midle'> 
			    <hr />
                <h1 class="line-title">Contacto</h1>

			     <h3> </h3> <!--{/*--------- butterflies-------- */} -->
            <div class='plantsC'>
                <ul>
                    <li>Maestro en Ciencias en Biomedicina y Biotecnología Molecular: Marco Antonio Fuentes García. <br/><br/></li>
                    <li>
                    <i class="fa-solid fa-envelope"></i>mail:marco.fuentes@lacasadelestanque.net<br/><br/>
                    </li>
                    <li>
                        <i class="fa-solid fa-phone"></i>Whatsapp: 55 1528 8420<br/><br/>
                    </li>
                    <li>
                        <i class="fa-brands fa-facebook-f"></i><a href='https://www.facebook.com/profile.php?id=100011428540674' target='_blank' rel='noreferrer'>Siguenos en facebook</a>
                    </li>
                </ul>
            </div>
            </div>
        </section>
        <footer>
            <img src="/assets/img/copy.png" alt=''/>
            <p>Todos los derechos reservados.</p>
        </footer>
        </div>

</body>
</html>